header {
  padding: 5px;
  height: 100px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header img {
  height: 100%;
}
header #nav-bar {
  display: flex;
}
header #nav-bar .button {
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4d8ae6;
  color: white;
}
header #nav-bar #navbar-search {
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid #4d8ae6;
}

#index-wrapper {
  margin: auto;
  width: 90%;
}
#index-wrapper #comics-container {
  display: flex;
  flex-wrap: wrap;
}
#index-wrapper #comics-container #comic {
  height: 350px;
  width: 150px;
  flex-basis: calc(25% - 20px);
  margin: 5px 10px;
}
#index-wrapper #comics-container #comic img {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}